files/livros.dtd

<!ELEMENT livros (livro+)>
<!ELEMENT livro (editora, titulo, edicao, isbn, autores)>
<!ELEMENT editora (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT edicao (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (nome, endereco)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT endereco (#PCDATA)>
<!ATTLIST livro ano CDATA #REQUIRED>
